<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>TV SERIES DATA</title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        

<style>
table{

	 border-collapse:collapse;
}
table th{

	text-align:left;
	background-color:#3a6070;
	color:#FFF;
	padding: 4px 30px 4px 8px;
	
}
table td{

    border: 1px solid #e3e3e3;
    padding: 4px 8px;
	
}

 </style>
    </head>
    <body>
    <h1>Detected imdb link:{{imdburl}}</h1>
    <h2>Number of seasons = {{k}}</h2> 
     </br>
	 
    
	{% set count = [1] %}
    {% for result in views %}
          {% set i = [1] %}
		   
                <table>
		   
				  <thead>
                         <tr>
					     <th colspan = "2">Season {{count[0]}}</th>
						 </tr>
						 <tr>
					     <th>Episode</th>
					     <th>IMDB Rating</th>
					  </tr>
				  </thead>
                        
				  <tbody>
                       <tr>
					   {% for elem in result %}
                              <td>Episode{{i[0]}}</td> 
							  <td>  {{elem}}</td>
         
		                
						{% if i.append(i.pop() + 1) %}{% endif %}
						</tr>
				   </tbody>
                        {% endfor %}
						<tfoot>
                         <tr>
                         <td colspan = "2">Average rating {{data[count[0]-1]}}</td>
					     </tr> 
                   </tfoot>
						
                          {% if count.append(count.pop() + 1) %}{% endif %}
						  
				</table>
            </br>
            		
						                                        
    {% endfor %}
	
	
         {%if c=="y"%}
         <div style="text-align:center">
           <h4>Bar Chart</h4>
         </div>
     
         <img src={{image_file}} style="margin: 0 auto; display: block;">
         {%endif%}
         {%if d=="y"%}
          <div style="text-align:center">
            <h4>Average Plot</h4>
          </div>
   
          <img src={{img_file}} style="margin: 0 auto; display: block;">
         {%endif%}
    
    
   
    
      
    
         
    
    </body>
    </html>